<html>
    <head>
        <title><%=htmlWebpackPlugin.options.title %></title>
    </head>
	<body>
		<section class="profile">
			<h1>Hello there</h1>
            <img src="<%=
            require('./images/350288-tool.jpg') %>" alt="">
		</section>
		<h2>Something more 232</h2>
		<div id="react-root"></div>
		<!-- <script src='main-bundle.js'></script> -->
	</body>
</html>