html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=htmlWebackPlugin.options.title
    body
        .profile
          img(src=require("./images/350288-tool.jpg"), alt="")
          h1
            | Hello There